<h1><%=@post.title%></h1>
<div class="pretext">
<%=@post.pre%>
<br/><br/><br/>
</div>

<div class="center">
  <%unless browser.ie?%>
  <div class="clear blue color texture tape">
     <div class="window"></div>
     <div class="rail-left"></div>
     <div class="rail-right"></div>
     <div class="rail-middle">
      <div class="rail-middle-outline">
       <div class="hole-1"></div>
       <div class="hole-2"></div>
       <div class="hole-3"></div>
       <div class="hole-4"></div>
       <div class="tape-pad-holder">
       <div class="tape-pad"></div>
       <div class="tape-pad-line"></div>
      </div>
     </div>
     <div class="screw-bm"></div>
     </div>
     <div class="screw-tl"></div>
     <div class="screw-tr"></div>
     <div class="screw-bl"></div>
     <div class="screw-br"></div>
     <div class="left reel"></div>
     <div class="left spokes">
     </div>
     <div class="right reel"></div>
     <div class="right spokes">
     </div>
     <canvas class="connecting-tape"></canvas>
     <div class="left tape-guide"></div>
     <div class="right tape-guide"></div>
     <div class="progress-notches">
      <div class="n1"></div>
      <div class="n2"></div>
      <div class="n3"></div>
      <div class="n4"></div>
      <div class="n5"></div>
      <div class="n6"></div>
      <div class="n7"></div>
      <div class="n8"></div>
      <div class="n9"></div>
     </div>
     <div class="label">EPP - <%=@post.title%></div>
    (click to play)
     <div class="controls">
      <div class="bd">
       <ul>
        <li><a href="#" title="play/pause" class="play">&#9656;</a></li>
        <li><a href="#" title="rewind" class="rew">&#171;</a></li>
        <li><a href="#" title="fast-forward" class="ffwd">&#187;</a></li>
        <li><a href="#" title="stop" class="stop">&#9632;</a></li>
       </ul>
      </div>
     </div>
  </div>
  <script>
      var mp3_url="<%=@post.mp3%>"
  </script>
  <%else%>
  <!-- lame-o player for IE People -->
  <div id="ie-tape">
    <div id="ie-play">
      <a href="<%=@post.mp3%>" type="audio/mpeg">EPP - <%=@post.title%></a><br/><span class="small">(click to play)</span>
    </div>
  </div>
  <%end%>
<br/>
Download: <%=link_to(@post.mp3, @post.mp3, :class=>"inline-exclude")%>
<br/><br/>
</div>

<div class="main_body">
<%=@post.body.html_safe%>
</div>
