<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	<table>
		<tr>
			<td>Title:</td>
			<td><%=f.text_field(:title)%></td>
		<tr>
		<tr>
			<td>URL:</td>
			<td><%=f.text_field(:url)%></td>
		<tr>
			<tr>
				<td>PreText:</td>
				<td><%=f.text_area(:pre)%></td>
			<tr>
		<tr>
			<td>Body:</td>
			<td><%=f.text_area(:body)%></td>
		<tr>	
		<tr>
			<td>mp3 url:</td>
			<td><%=f.text_field(:mp3)%></td>
		<tr>
			<td>length:</td>
			<td><%=f.text_field(:length)%></td>
		</tr>
		<tr>
			<td>Status</td>
			<td>dropdown</td>
		<tr>
    		<td colspan=2><%= f.submit %></td>
		</tr>
	</table>
  </div>
<% end %>
