<h1>Past Episodes</h1>

<%for post in @posts do%>
<div class="post">
	<div class="title">
		<h3><%=link_to(post.title, :controller=>:posts, :action=>:view, :url=>post.url)%></h3>
	</div>
	<div class="post-body">
		<%=newlines(post.pre.truncate(105)).html_safe%>
	</div>
	<%if logged_in?%>
	<div class="admin-links">
		<%=link_to('edit', :controller=>:posts, :action=>:edit, :id=>post.id)%> | <%= link_to 'delete', @post, :method => :destroy, :data => { :confirm => 'Are you sure?' } %> | <%=link_to 'admin view', :action=>:show, :id=>post.id%>
	</div>
	<%end%>
</div>
<%end%>
