<!DOCTYPE html>
<html>
<head>
  <title>The Electric Pickle Podcast :: <%=@title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if flash[:error]%>
	<div id="error">
		<%=flash[:error]%>
	</div>
	<%end%>
	<div id="container">
		<div id="logo"><%=image_tag('topline.jpg')%></div>
		<div id="links">
			<%=link_to("LATEST EPISODE", "/")%> | 
			<%=link_to("ABOUT THE SHOW", :controller=>:site, :action=>:about_the_show)%> | 
			<%=link_to("ABOUT THE HOSTS", :controller=>:site, :action=>:about_the_hosts)%> | 
			<%=link_to("PAST EPISODES", "/archive")%>
			<%if logged_in?%>
			 | <%=link_to("admin", :controller=>:site, :action=>:admin)%>
			<%end%>
			<div id="tag">:: a new episode every sunday afternoon ::</div>
		</div>
		<div id="main">
		  <%= yield %>
		</div>
		<div id="social">
			
			<div class="facebook">
			<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Ffacebook.com%2Felectricpicklepodcast&amp;width=292&amp;height=75&amp;colorscheme=dark&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;appId=252172371520025" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:75px;" allowTransparency="true"></iframe>
			</div>
			
			<div class="twitter">
				<a href="http://twitter.com/picklepodcast">The Electric Pickle Podcast on<br/>Twitter:<br/></a>
				<div class="pad5">
			<a href="https://twitter.com/picklepodcast" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @picklepodcast</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			submissions &lt;at&gt; electricpicklepodcast.com<br/> 
			Copyright &copy; <%=Time.now.year%> Electric Pickle Podcast<br/>
			all music is presented for promotional use only and is the property of its respective copyright owner(s).
		</div>
	</div>
</body>
</html>

<!-- analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36656329-1']);
  _gaq.push(['_setDomainName', 'electricpicklepodcast.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end Analytics -->